* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #D8D2D2;
}

.navbar-inicial {
    list-style: none;
    width: 100%;            
    background-color: #D8D2D2;
    height: 80px;
    display: flex;
}

.navbar-inicial img{
    margin-top: 20px;
}


.links-navbar {
    text-decoration: none;
    color: black;
    margin-left: 60px;
    position: relative;
}

.links-navbar:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 18px;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.links-navbar:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.lista-links{
    padding-left: 40%;
    padding-top: 20px;
    width: auto;
    height: auto;
}

.login-navbar{
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 8px;
    border: 1px solid #424242;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 55px;
}

.lista-links button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border: 1px solid #424242;
    color: #000000;
}

.navbar-inicial h1{
    width: auto;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
}

.section-parts{
    display: flex;
    padding-top: 130px;
}

.section-parts h1{
    font-size: 40px;
    font-weight: 600;
    color: #000;
}

.section-parts div{
    font-size: 20px;
    margin-top: 20px;
    color: #828282;
}

.section-parts img{
    height: 400px;
    width: 630px;
}

.section-texts{
    width: 400px;
    padding-left: 150px;
    margin-right: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-parts-two{
    display: flex;
    padding-top: 130px;
    padding-left: 50px;
}

.section-parts-two img{
    height: 400px;
    width: 630px;
}

.section-parts-two h1{
    font-size: 40px;
    font-weight: 600;
    color: #000;   
    width: 450px;
}

.section-parts-two div{
    font-size: 20px;
    margin-top: 20px;
    color: #828282;
}

.video-parts{
    display: flex;
    justify-content: center;
    padding-top: 120px;    
}

.video-parts video{
    width: 100%;
    
}