@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #D8D2D2;
    display: flex;
    flex-direction: column;
    gap: 0;
}

*{
    margin: 0;
    padding: 0;
}

.navbar-inicial {
    list-style: none;
    width: 100%;            
    background-color: #D8D2D2;
    height: 80px;
    display: flex;
}

.navbar-inicial img{
    margin-left: 10px;
    width: 80px;
}

.navbar-inicial h1{
    width: auto;
    height: auto;
}


.links-navbar {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    position: relative;
}

.links-navbar:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 18px;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.links-navbar:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.lista-links{
    padding-left: 30%;
    padding-top: 5px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.login-navbar{
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 8px;
    border: 1px solid #424242;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 55px;
}

.lista-links button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border: 1px solid #424242;
    color: #000000;
}

.navbar-inicial h1{
    width: auto;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
}

.section-agents{
    height: 607px;
    display: flex;
    width: 100%;
    background-image: url(../assets/background-agents.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: fixed;
}

.lateral-bar{
    display: block;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    /* background-color: #424242; */
}

.lateral-bar-texts h1{
    font-size: 50px;
    color: #a91b1b;
    margin-left: 20px;
    font-family: 'VALORANT', sans-serif;
}

.lateral-bar-texts h2{
    font-family: 'Milligram Macro Trial', sans-serif;
    letter-spacing: 3px;
    color: #D8D2D2;                                         
}

.lateral-bar-texts{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 50px;
}

#agente_atual{
    font-family: 'VALORANT', sans-serif;
    color: #ffffff;
    margin-left: 50px;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    width: 270px;
    height: auto;
    height: 50px;
}

#sumario_classe{
    letter-spacing: 3px;
    color: #bbbbbb;   
    font-family: 'Milligram Macro Trial', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 15px;
}

.option-agente{
    text-align: center;
    width: 270px;
}

.container-agents{
    height: 630px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-agents{
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-agents{
    border-radius: 5px;
    background-color: #221f1f42;
    width: 800px;
    height: 500px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.position-agents::-webkit-scrollbar{
    width: 6px;
}

.position-agents::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}

.position-agents::-webkit-scrollbar-thumb{
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.box-agent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 220px;
    background-color: rgb(65, 68, 68);
    margin: 10px;
    border: 1px solid rgb(117, 117, 117);
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
}

.box-agent:hover{
    border: 2px solid red;
    background: rgb(146,251,255);
    background: linear-gradient(153deg, rgba(146,251,255,1) 16%, rgba(136,44,44,1) 60%, rgba(0,0,0,1) 90%);
    background-size: 300% 300%;
    animation: colors 2s ease-in-out infinite;
}

.box-agent:hover img{
    transition: 0.5s;
    width: 320px;
}

.box-agent img{
    margin-top: 30px;
    width: 283px;
    transition: 0.5s;
    cursor: pointer;
}

.box-agent p{
    position: relative;
    font-size: 30px;
    color: #fff;
    bottom: 70px;
    font-family: 'CS Rocky', sans-serif;
    
}

.material-symbols-outlined{
    top: 20px;
    left: 30px;
    position: relative;
    background-color: #2d2c2c;
    border-radius: 50%;
    justify-content: center;
    color: #fff;
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.material-symbols-outlined:hover{
    background-color: #bbbbbb;
    color: #000;
    transition: 0.5s;
}

.button-back-home{
    display: none;
}

.footer-page{
    text-decoration: none;
    display: flex;
    height: 170px;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #ffffff;
    gap: 200px;
}

.footer-page p,a{
    color: #000;
}

.footer-list{
    padding: 30px;
}

.footer-list-two a{
    align-items: center;
}   

.elements-list-footer span{
    padding-left: 15px;
}

.elements-list-footer a{
    padding-left: 15px;
}

.elements-list-footer-two{
    padding-top: 10px;
}

.elements-list-footer-two a{
    padding-left: 15px;
}

.elements-list-footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 22px;
}

.elements-list-footer-icons a{
    padding-left: 20px;
}

.youtube img{
    height: 30px;
}

.instagram img{
    height: 25px;
}

.github img{
    height: 25px;
}

.links-footer{
    text-decoration: none;
}