body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #0F0419;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    position: relative;
}


@keyframes change{
    0%{
        clip-path: circle(10% at 50% 50%);
    }   

    100%{
        clip-path: circle(100% at 50% 50%);
        opacity: 100%;
    }
}

*{
    padding: 0;
    margin: 0;
}


.navbar-inicial {
    list-style: none;
    width: 100%;            
    background-color: #D8D2D2;
    height: 80px;
    display: flex;
}

.navbar-inicial img{
    margin-left: 10px;
    width: 80px;
}

.navbar-inicial h1{
    width: auto;
    height: auto;
}


.links-navbar {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    position: relative;
}

.links-navbar:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 18px;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.links-navbar:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.lista-links{
  padding-left: 30%;
  padding-top: 5px;
  width: auto;
  height: auto;
}

.login-navbar{
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 8px;
    border: 1px solid #424242;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 55px;
}

.lista-links button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border: 1px solid #424242;
    color: #000000;
}

.navbar-inicial h1{
    width: auto;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
}

/* .section-quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;
    color: #fff;
}

.global-quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid rgb(192, 33, 33);
}

.button-quiz{
    width: 520px;
    height: 80px;
    transition: 2s;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d12020;
}

.button-quiz p{
    background-color: none;
    position: absolute;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.change-theme-button{
    background-image: url(../assets/banner-button-quiz.png);
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: 2px solid whitesmoke;
}



.quizes{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    width: 70%;
    height: 400px;
    border-radius: 10px;
    border: 1px solid rgb(192, 33, 33);
    color: #fff;
    margin-left: 200px;
    margin-top: 60px;
}

.all-quiz{
    padding-top: 70px;
}

.all-quiz-text{
    font-size: 30px;
    margin-bottom: 30px;
}

.div_perguntas button{
    cursor: pointer;
    width: 230px;
    height: 50px;
    margin: 8px;
    background-color: #d12020;
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.4s;
}

.div_perguntas button:hover{
    background-color: #D8D2D2;
    width: 250px;
    height: 55px;
    transition: 0.4s;
}

.next-question{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    border: none;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
}

.next-question:hover{
    transition: 0.5s;
    background-color: #656367;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 30px #d12020;
} */

.button-quiz p{
    background-color: none;
    position: absolute;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-quiz .start-quiz button{
    width: 2000px;
}

.button-quiz:hover .change-theme-button{
    animation: change 0.5s;
    animation-fill-mode: forwards;
}
  
.change-theme-button{
    background-image: url(../assets/banner-button-quiz.png);
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: 2px solid whitesmoke;
}

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    width: 70%;
    height: 450px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(192, 33, 33);
    margin-left: 200px;
    margin-top: 35px;
  }
  
  .questions-container {
    width: 100%;
    display: flex;
    gap: 24px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  
  .question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .answers-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .answer:disabled {
    cursor: not-allowed;
  }
  
  .next-question {
    margin-top: 22px;
  }
  
  .button {
    cursor: pointer;
    width: 230px;
    height: 55px;
    margin: 8px 0;
    background-color: #d12020;
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .button:hover{
    background-color: #D8D2D2;
    transition: 0.4s;
  }
  
  /* Finish game */
  .final-message {
    font-size: 20px;
    text-align: center;
  }
  
  .final-message span {
    display: block;
    margin-top: 8px;
  }
  
  /* General styles */
  .hide {
    display: none;
  }
  
  .correct {
    background-color: #049b48;
  }
  
  .incorrect {
    background-color: #a10101;
  }

  #button-changer{
    width: 400px;
    height: 100px;
    margin-left: 40px;
    margin: 40px;
  }

  #button-changer:hover{
    transition: 0.5s;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 30px #d12020;
  }